<div class="cardTitle inline">
    <div class="carret" (click)="clickCarret()">
    <i class="fa fa-caret-right" *ngIf="!item.isExpanded"></i>
    <i class="fa fa-caret-down" *ngIf="item.isExpanded"></i>
    </div>
    <div class="titleText">
    {{item.name}}
    </div>
</div>
<div *ngIf="item.isExpanded">
    <div class="cardDesc">
        {{item.description}}
    </div>
    <div class="tasklist">
        <div *ngFor="let task of tasks" class="newtask">
            <input type="checkbox" [(ngModel)]="task.isCompleted" (ngModelChange)="changeTaskCompleted(task)"  class="inline-block">
            <span class="inline-block">
            {{task.description}}
            </span>
            <span class="inline-block glyphicon glyphicon-trash link" (click)="deleteTask(task)"></span>
        </div>
    </div>
    <div class="newtask">
        <form (submit)="addNewTask()">
            <input type="text" class="form-control newtask" id="newtask" placeholder="Add subtask and hit enter" [(ngModel)]="newtaskdesc" name="newtask">
        </form>
    </div>
</div>



<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete task</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Not implement!<br>
        Works as per specs!<br>
        Carret is not carrot :)
      </div>
    </div>
  </div>
</div>