.cardTitle{
    margin-left: 10px; 
    font-size: 1em;
    font-weight: bold;
}
.cardDesc{
    margin-left: 10px; 
}
.tasklist{
    margin: 10px;
}
.newtask
{
    font-size: 0.8em;
}
.link{
    cursor: pointer;
}
.carret{
    display: inline-block;
    cursor: pointer;
}
.titleText{
    display: inline-block;
}
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #ff4040;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
    color: white;
    font-weight: bold;
 }