<div class="panel panel-info" 
    dnd-droppable 
    [allowDrop]="allowDropFunction()"
    (onDropSuccess)="cardDropped($event)"
    >
    <div class="panel-heading">
        <div>
            <i class="fa fa-1 fa-circle inline" aria-hidden="true" [style.color]="item.color"></i>
            <span class="inline listTitle">
            {{item.name}}
            </span>
            <button type="button" class="btn btn-default btn-xs inline" (click)="showAddCard()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="">
        <ul class="list-group">
        <li *ngFor="let card of cards" class="list-group-item panel card" [style.border-left-color]="item.color" 
            dnd-draggable 
            [dragData]="card" 
            [dragEnabled]="allowDragFunction(card)" 
            >
            <card [item]="card">
            </card>
        </li>
        </ul>
    </div>
</div>

<div class="fullScreen" *ngIf="toShowAddCard" (click)="cancelAddCard()">
</div>
<div class="fullScreentransparent" *ngIf="toShowAddCard">
    <div class="panel panel-default createCard well">
        <div class="panel-heading" [style.background-color]="item.color">
            <h4 class="createTitle">New task - {{ item.name }}
                <div class="pull-right link" (click)="cancelAddCard()">
                <i class="fa fa-window-close"></i>
            </div>
            </h4>
        </div>
        <div class="form-group formfields">
            <label for="taskname">Name</label>
            <input type="text" class="form-control" id="taskname" placeholder="task name" [(ngModel)]="cardname">
            <label for="taskdescription">Description</label>
            <textarea cols="39" rows="6" class="form-control" id="taskdescription" placeholder="description" [(ngModel)] = "carddescription"></textarea>
            <!--<input type="text" class="form-control" id="taskdescription" placeholder="description" [(ngModel)]="carddescription">-->
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" (click)="saveAddCard()">CREATE</button>
        </div>
    </div>
</div>