<div class="column-panel"
     cdkDropList
     [id]="item.$key!"
     [cdkDropListData]="cards"
     [cdkDropListConnectedTo]="connectedDropLists"
     (cdkDropListDropped)="onCardDrop($event)">
    <div class="column-header" [style.border-top-color]="item.color">
        <div class="column-header-left">
            <i class="fa fa-circle column-dot" aria-hidden="true" [style.color]="item.color"></i>
            <span class="column-title">{{item.name}}</span>
            <span class="column-count">{{cards.length}}</span>
        </div>
        <button type="button" class="add-card-btn" (click)="showAddCard()" title="Add card">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="card-drop-zone">
        <ul class="card-list">
        @for (card of cards; track card.$key) {
          <li class="card-item"
              [style.border-left-color]="item.color"
              cdkDrag
              [cdkDragData]="card">
              <app-card [item]="card">
              </app-card>
          </li>
        }
        </ul>
    </div>
</div>

@if (toShowAddCard) {
  <div class="modal-backdrop-overlay" (click)="cancelAddCard()" tabindex="0" role="button" (keydown.enter)="cancelAddCard()"></div>
  <div class="modal-overlay">
      <div class="create-card-modal">
          <div class="modal-header-bar" [style.background-color]="item.color">
              <h4 class="modal-title-text">New task - {{ item.name }}</h4>
              <div class="modal-close-btn" (click)="cancelAddCard()" tabindex="0" role="button" (keydown.enter)="cancelAddCard()">
                  <i class="fa fa-window-close"></i>
              </div>
          </div>
          <div class="modal-form">
              <div class="form-group">
                  <label for="taskname">Name</label>
                  <input type="text" class="form-control" id="taskname" placeholder="Task name" [(ngModel)]="cardname">
              </div>
              <div class="form-group">
                  <label for="taskdescription">Description</label>
                  <textarea class="form-control" id="taskdescription" rows="4" placeholder="Description" [(ngModel)]="carddescription"></textarea>
              </div>
              <div class="modal-actions">
                  <button type="button" class="btn-create" (click)="saveAddCard()">Create</button>
                  <button type="button" class="btn-cancel" (click)="cancelAddCard()">Cancel</button>
              </div>
          </div>
      </div>
  </div>
}
